.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2em;
}

@media all and (max-width: 1024px) {
  .grid {
    display: block;
    padding-left: 2em;
    padding-right: 2em;
  }
}