.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2em;
}

@media all and (max-width: 1024px) {
  .grid {
    display: block;
    padding-left: 2em;
    padding-right: 2em;
  }
}

.projects {
  padding-top: 7vh;
  grid-column: 4 / 12;
  font-weight: 300;
}

.projects li {
  list-style: none;
}
